<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
    <a [attr.href]="configuration.root.externalWebsiteLink">
        <span id="application-logo"
              class="application-logo"
              [matTooltip]="configuration.root.applicationTitle"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="200">
      <img [attr.alt]="configuration.root.applicationTitle + ' Logo'"
           [attr.src]="configuration.root.applicationLogo"/>
    </span>
    </a>
    <span id="application-title"
          class="application-title">
      {{configuration.root.applicationTitle}}</span>
    <button id="twitch-header-btn"
            class="service-provider-btn"
            [ngClass]="{'tab-is-active': isActive('twitch')}"
            *ngIf="configuration.twitch.display"
            mat-button>Twitch
    </button>
  </span>
    <span class="fill-remaining-space"></span>
    <span>
    <div class="md-toolbar-tools">
      <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
            (change)="onToggleChange($event)">
          Show Offline Streams
        </mat-slide-toggle>
      </section>
    </div>
  </span>
  </mat-toolbar-row>
</mat-toolbar>
