<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [attr.href]="configuration.root.externalWebsiteLink">
        <span id="application-logo"
              class="application-logo"
              [matTooltip]="configuration.root.applicationTitle"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="200">
      <img [attr.alt]="configuration.root.applicationTitle + ' Logo'"
           [attr.src]="configuration.root.applicationLogo"/>
    </span>
    </a>
    <span id="application-title"
          class="application-title">
      {{configuration.root.applicationTitle}} <sup class="beta" *ngIf="configuration.root.flags.beta">BETA</sup></span>
    <button id="twitch-header-btn"
            class="service-provider-btn"
            routerLink="/team-view/twitch"
            [ngClass]="{'tab-is-active': isActive('twitch')}"
            *ngIf="configuration.tabs['team-view'].display"
            mat-button>NGEN
    </button>
    <button id="tournaments-header-btn"
            class="service-provider-btn"
            routerLink="/team-view/tournament"
            [ngClass]="{'tab-is-active': isActive('tournament')}"
            *ngIf="configuration.tabs.tournament.display"
            mat-button>WS7 Tournament</button>
    <span class="fill-remaining-space"></span>
    <span *ngIf="isActive('twitch')"
      class="md-toolbar-tools">
        <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="twitchOfflineChecked"
          [disabled]="disabled"
          (change)="onToggleChange($event)">
          Show Offline Streams
        </mat-slide-toggle>
  </span>
  </mat-toolbar-row>
</mat-toolbar>
