<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [attr.href]="configuration.root.externalWebsiteLink">
        <span id="application-logo"
              class="application-logo"
              [matTooltip]="configuration.root.applicationTitle"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="200">
      <img [attr.alt]="configuration.root.applicationTitle + ' Logo'"
           [attr.src]="configuration.root.applicationLogo"/>
    </span>
    </a>
    <span id="application-title"
          class="application-title">
      {{configuration.root.applicationTitle}}</span>
    <button id="twitch-header-btn"
            style="visibility: hidden;"
            class="service-provider-btn"
            [ngClass]="{'tab-is-active': isActive('twitch')}"
            *ngIf="configuration.twitch.display"
            mat-button>Twitch
    </button>
    <span class="fill-remaining-space"></span>
    <span *ngIf="isActive('twitch')"
      class="md-toolbar-tools">
        <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="twitchOfflineChecked"
          [disabled]="disabled"
          (change)="onToggleChange($event)">
          Show Offline Streams
        </mat-slide-toggle>
  </span>
  </mat-toolbar-row>
</mat-toolbar>
