<div class="container">
  <ng-container *ngIf="details.live; else offline">
    <iframe
      [src]="videoUrl"
      height="100%"
      [width]="videoWidth + '%'"
      frameborder="0"
      scrolling="no"
      allowfullscreen="false">
    </iframe>
    <iframe *ngIf="showChat"
            [src]="chatUrl"
            id="{{details?.stream?.user_name}}"
            height="100%"
            [width]="chatWidth + '%'"
            frameborder="0"
            scrolling="yes">
    </iframe>
  </ng-container>
  <ng-template #offline>
    <!-- TODO: not all users have an offline image -->
    <img [src]="offlineImageUrl"
         alt="Offline image for {{details.user.display_name}}."
         class="offline-image"/>
  </ng-template>
  <!-- Show this content in the top-left / top-right of the container always. -->
  <div *ngIf="!details.live"
       class="top-left streamer-name">{{details.user.display_name}}</div>
  <div class="top-right">
    <mat-icon [color]="isPinned()" (click)="pin()">star</mat-icon>
  </div>
</div>
<!-- display the footer content -->
<ng-template [ngTemplateOutlet]="footer"
             [ngTemplateOutletContext]="{footerContent: footerContent}"></ng-template>
<!-- set up a template to render the parts of the footer -->
<ng-template #footer let-content="footerContent">
  <div class="footer">
    <p class="footer-title">{{content.title}}</p>
    <ng-container *ngFor="let meta of content.metadata">
      <p class="metadata">{{meta}}</p>
    </ng-container>
    <mat-chip-list>
      <ng-container *ngFor="let chip of content.chips">
        <mat-chip color="accent" selected>{{chip}}</mat-chip>
      </ng-container>
    </mat-chip-list>
  </div>
</ng-template>
