<div class="container">
  <ng-container *ngIf="details.live; else offline">
    <iframe
      [src]="videoUrl"
      height="100%"
      [width]="'100%'"
      frameborder="0"
      scrolling="no"
      allowfullscreen="false">
    </iframe>
    <iframe *ngIf="false"
            [src]="chatUrl"
            id="{{details?.stream?.user_name}}"
            height="100%"
            [width]="'0%'"
            frameborder="0"
            scrolling="yes">
    </iframe>
  </ng-container>
  <ng-template #offline>
    <!-- TODO: not all users have an offline image -->
    <img [src]="offlineImageUrl"
         alt="Offline image for {{details.user.display_name}}."
         class="offline-image"/>
  </ng-template>
  <!-- Show this content in the top-left / top-right of the container always. -->
  <div class="top-left streamer-name">{{details.user.display_name}}</div>
  <div class="top-right">
    <mat-icon [color]="isPinned()" (click)="pin()">star</mat-icon>
  </div>
</div>
