.live-video-card {
  width: fit-content;
  height: fit-content;

  .card-title {
    margin-top: 0.25em;
  }

  .embedded-video {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
}

.twitch-iframe-container {
  height: 100%;
  width: 100%;
}
