<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="433px">
    <mat-grid-tile *ngFor="let channel of twitchChannels" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title class="card-title">
          <span>{{channel}}</span>
          <span class="fill-remaining-space"></span>
        </mat-card-title>
        <mat-card-content class="video-content">
          <div *ngIf="channel" class="video-content">
            <app-twitch-video-chat [channel]="channel"></app-twitch-video-chat>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let channel of mixerChannels" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title class="card-title">
          <span>{{channel}}</span>
          <span class="fill-remaining-space"></span>
        </mat-card-title>
        <mat-card-content class="video-content">
          <div *ngIf="channel" class="video-content">
            <app-mixer-video [channel]="channel"></app-mixer-video>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
